Cython==0.14
distribute==0.6.14
pymongo==1.9
Jinja2==2.5.5
python-dateutil==1.5
py-bcrypt==0.2
greenlet==0.3.1
-e hg+https://bitbucket.org/which_linden/eventlet#egg=eventlet
# I'm not sure how to install pyzmq with mac ports flags for GCC
# so install pyzmq by hand.
#-e git+git://github.com/zeromq/pyzmq.git@v2.0.10#egg=pyzmq
