<html>
  <head>
    <title>Long Poller</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <style type="text/css" media="screen">
      body { background:#fff; color:#000; font-size:.9em; }
      #header { background: #333; color: #fff; padding: 10px;}
      #input_box { background: border: 1px #ccc solid; padding: 10px; width: 100%;}
      .msg{ background:#aaa; border-bottom: 1px #000 solid; padding: 3px;}
      .old{ background-color:#9999ff;}
      .new{ background-color:#99ff99;}
      .error{ background-color:#ff9999;}
    </style>

    <script type="text/javascript" charset="utf-8">
      function addmsg(type, msg) {
        $("#messages").prepend(
          "<div class='msg "+ type +"'>"+ msg +"</div>"
        );
      }

      function waitForMsg() {
        $.ajax({
            type: "GET",
            url: "/feed",
            async: true,
            cache: false,
            timeout:50000,

            success: function(data) { 
                addmsg("new", data);
                setTimeout('waitForMsg()', 1000);
            },

            error: function(XMLHttpRequest, textStatus, errorThrown) {
                addmsg("error", textStatus + " (" + errorThrown + ")");
                setTimeout('waitForMsg()', "15000");
            },
        });
    };

    $(document).ready(function(){
        waitForMsg();
    });
    </script>
</head>
<body>
  <div id="header">
    Brubeck simple long polling demo
  </div>
  <div id="messages">
  </div>
</body>
</html>
